.navbar{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.links{
    margin-right: 50px;
    display: flex;
    align-items: center;
}
.links a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}